header {
  img {
    width: 150px;
    object-fit: cover;
  }

  .nav-bar {
    display: flex;
    gap: 24px;
    list-style: none;

    a {
      font-size: 28px;
    }

    a:hover {
      color: #ffd700;
    }
  }
}
