.initial-main {
    display: flex;
    justify-content: space-between;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 250px;
        width: 100%;
    }

    img {
        padding-block: 20px;
        width: 1280px;
    }
}