@media (max-width: 800px) {
  .mobile {
    display: flex;
    flex-direction: column;
    position: static;

    .nav-bar {
      flex-direction: column;
      padding-block: 24px;
    }

   .initial-main {
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 18px;
      }
      
      img {
        width: 400px;
        object-fit: cover;
      }
    }

    .photo-hero {
      .caracters {
        img {
          width: 90px;
        }
      }
    }
    .contact {
      form {
        padding-inline: 24px;
      }
    }
  }

  footer {
    gap: 10px;
  }
}


/* seçaocontact-somebody  */
@media (max-width: 800px) {
  .contact-somebody {
    width: 500px;

    table {

      tr th {
        font-size: 18px;
      }

      tr td {
        font-size: 16px;
      }
    }
  }
}
